<h3>Create a Store</h3>
<%= form_with model: @store do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :info, placeholder: "info" %>
   <div class="flex">
  <%Book.all.each do |book| %>
     <span class="form-group flex field">
       <%= check_box_tag 'books[]', book.id%>
       <%= label_tag('books[]', book.title) %>
     </span>
   <%end%>
   </div>
 <div class="button-primary " > <%= form.submit %></div>
<% end %>