<h1>PROFILE</h1>

<div class= "profile">
    <h4>
    <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar,class: "card-img-top",style:"border-radius:20px;width:400px;height:auto;" %>
    <% end %>
    </h4>
    <div class="describe">
        
    <h4>名前: <span><%= @user.name %></span></h4>
   
    
    <h4>年齢:  <%= @user.age %></h4>
   
    
    <h4>メールアドレス:   <%= @user.email %>  </h4>
 
    </div>
</div>

<div class="button-primary bigwidth" >  <%= link_to "プロファイル編集", edit_user_registration_path, :class => "nav-link" %></div>