<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="newbook">
            <div class="form" style="position: relative; z-index: 1;">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 m-auto">
                            <div class="form__main">
                                <form>
                                    <div class="form__main-title">
                                        Your Book
                                    </div>
                                    <div class="form-group field">
                                       <%= form.label :title %>
                                       <%= form.text_field :title %>
                                    </div>

                                    <div class="form-group field">
                                        <%= form.label :number_of_pages %>
                                         <%= form.number_field :number_of_pages %>
                                    </div>
                                      <div class="form-group field">
                                        <%= form.label :detail %>
                                      <%= form.text_area :detail %>
                                    </div>
                                      <div class="form-group field">
                                       <%= form.label :image %>
                                         <%= form.file_field :image %><br>
                                    </div>
                                    <%if book.persisted?%>
                                    <%Genre.all.each do |genre| %>
                                    <%if book.genres.select{ |subgenre| subgenre.id == genre.id }.empty?%>
                                    <div class="form-group field">
                                        <%= check_box_tag 'genres[]', genre.id%>
                                        <%= label_tag('genres[]', genre.name) %>
                                    </div>
                                    <%else%>
                                    <div class="form-group field">
                                        <%= check_box_tag 'genres[]', genre.id, :checked=>true%>
                                        <%= label_tag('genres[]', genre.name) %>
                                    </div>
                                    <%end%>
                                    <%end%>
                                    <%else%>
                                    <%Genre.all.each do |genre| %>
                                    <div class="form-group field">
                                        <%= check_box_tag 'genres[]', genre.id%>
                                        <%= label_tag('genres[]', genre.name) %>
                                    </div>
                                    <%end%>
                                    <%end%>
                                    <div class="button-primary form__main-button actions" href="# ">  <%= form.submit %></div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>
<% end %>

   

