
  <form class="form-inline my-2 my-lg-0 d-flex " action="/name_search" method="GET">
    <div class="m-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="title" id="title">
      <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
    </div>
  </form>

<div class="booklist">
    <% @books.each do |book| %>
    <a  href="/books/<%= book.id %>">
      <div class="book">
         <div class="book_img">  
            <% if book.image.attached? %>
            <%= image_tag book.image,class: "card-img-top",style:"border-radius:2px;width:200px;height:auto;" %>
            <% end %>
        </div>
        
        <div class ="book_describe">
          <h3>
             <%= book.title %>
          </h3>
          <div>
            author: ??
          </div>
          <div>
            number of pages : <%= book.number_of_pages %>
          </div>
          
            <div>
            detail : <%= book.detail %> 
          </div>
         <p>
  <strong>Rate:</strong>
  <%= book.rate %>
</p>
        </div>
    </div>
     </a>
    <% end %>
</div>


<br>

<div class="button-primary " ><a href="/books/new">New Book</a></div>