
<div class="booklist">
    <% @books.each do |book| %>
    <a  href="/books/<%= book.id %>">
      <div class="book">
         <div class="book_img">  
            <% if book.image.attached? %>
            <%= image_tag book.image,class: "card-img-top",style:"border-radius:2px;width:200px;height:auto;" %>
            <% end %>
        </div>
        
        <div class ="book_describe">
          <h3>
             <%= book.title %>
          </h3>
          <div>
            author: ??
          </div>
          <div>
            number of pages : <%= book.number_of_pages %>
          </div>
          
            <div>
            detail : <%= book.detail %> 
          </div>
         <p>
  <strong>Rate:</strong>
  <%= book.rate %>
</p>
        </div>
    </div>
     </a>
    <% end %>
</div>


<br>

<%= link_to 'New Book', new_book_path %>