    <div class="book">
         <div class="book_img">  
            <% if @book.image.attached? %>
            <%= image_tag @book.image,class: "card-img-top",style:"border-radius:2px;width:400px;height:auto;" %>
            <% end %>
        </div>
        
        <div class ="book_describe">
          <h3>
             <%= @book.title %>
          </h3>
        <p>
        <strong>Rate:</strong>
        <%= @book.rate %>
        </p>
          <p>
              <strong>Number of pages:</strong> <%= @book.number_of_pages %>
          </p>
            <p>
           <strong>Detail:</strong> <%= @book.detail %> 
          </p>
          <p>
           <strong>Genre:</strong>
         
          <% @book.genres.each do |genre|%>
          <span>  <%= genre.name %> </span>
          <%end%>
          </p>
         
            <br>
        </div>
    </div>

<div class = "reviewlist">
 
    <% @book.reviews.each do |book_review| %>
       <%if book_review.user_id!=current_user.id%>
        <div class="review">
           <div class ="review_describe">
            <h4>
             <%= User.find(book_review.user_id)[:name] %>:
            </h4>
         
            <span class="review_describe-text">
              <%= book_review.review %>
            </span>
            <div>
              <div>
              Rating:<%= book_review.rate %>
              </div>
              
            </div>
          </div>
       </div>
        <%else%>
         <div class="review">
          <div class ="review_describe">
            <h4>
             <%= User.find(book_review.user_id)[:name] %>:
            </h4>
         
            <span class="review_describe-text">
              <%= book_review.review %>
            </span>
            <div>
              <div>
              Rating:<%= book_review.rate %>
              </div>
                <div>
            <%= link_to 'Edit', edit_book_review_path(book_review) %>
              </div>
              
            </div>
          </div>
          </div>
        <%end%>
    <% end %>
</div>
<%if @book.reviews.select{ |review| review.user_id == current_user.id }.count()==0 %>
<%= render 'book_reviews/form', book_review: BookReview.new, current_book_id: @book.id %>
<%end%>
<%= link_to 'Edit', edit_book_path(@book) %>
<%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', books_path %>
