<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Number of pages:</strong>
  <%= @book.number_of_pages %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @book.rate %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @book.detail %>
</p>

<p>
  <% if @book.image.attached? %>
    <%= image_tag @book.image%>
  <% end %>
</p>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Book</th>
      <th>Rate</th>
      <th>Review</th>
    </tr>
  </thead>

  <tbody>
    <% @book.reviews.each do |book_review| %>
      <tr>
        <%if book_review.user_id!=current_user.id%>
        <td><%= User.find(book_review.user_id)[:name] %></td>
        <td><%= book_review.book_id %></td>
        <td><%= book_review.rate %></td>
        <td><%= book_review.review %></td>
        <%else%>
        <td><%= User.find(book_review.user_id)[:name] %></td>
        <td><%= book_review.book_id %></td>
        <td><%= book_review.rate %></td>
        <td><%= book_review.review %></td>
        <td><%= link_to 'Edit', edit_book_review_path(book_review) %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<%if @book.reviews.select{ |review| review.user_id == current_user.id }.count()==0 %>
<%= render 'book_reviews/form', book_review: BookReview.new, current_book_id: @book.id %>
<%end%>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
